@mixin transition($property...) {
  transition-property: $property;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@mixin mq($type) {
  $mobile: 480px;
  $tablet: 768px;
  $desktop: 1200px;
  @if $type == 'mob' {
    @media screen and (min-width: $mobile) {
      @content;
    }
  }
  @if $type == 'mob-only' {
    @media screen and (max-width: ($tablet - 0.02)) {
      @content;
    }
  }
  @if $type == 'tab' {
    @media screen and (min-width: $tablet) {
      @content;
    }
  }
  @if $type == 'tab-only' {
    @media screen and (min-width: $tablet) and (max-width: ($desktop - 0.02)) {
      @content;
    }
  }
  @if $type == 'desk' {
    @media screen and (min-width: $desktop) {
      @content;
    }
  }
  @if $type == 'not-desk' {
    @media screen and (max-width: ($desktop - 0.02)) {
      @content;
    }
  }
}

@mixin retina {
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    @content;
  }
}
