// Колір тексту
$page-color: #131313;
// Колір ключів/заголовків властивостей до опису фільму
$description-color: #8C8C8C;
// Просто білий))
$white-color: #FFFFFF;
// Колір кнопок, підписів карток фільмів, лейбла із оцінкою фільму
$accent-color: #FF6B08;
// Колір псевдоелемента - нижньої риски під активним меню в хедері
// а також error-повідомлення під полем пошуку
$menu-highlight: #FF001B;
// Колір фону футера
$footer-bg-color: #F7F7F7;
$footer-text-color: #545454;