// Колір тексту
$page-color: #000000;
// Колір ключів/заголовків властивостей до опису фільму
$description-color: #8c8c8c;
// Просто білий))
$white-color: #ffffff;
// Колір кнопок, підписів карток фільмів, лейбла із оцінкою фільму
$accent-color: #ff6b08;
// Колір псевдоелемента - нижньої риски під активним меню в хедері
// а також error-повідомлення під полем пошуку
$menu-highlight: #ff001b;
// Колір фону футера
$footer-bg-color: #f7f7f7;
$footer-text-color: #545454;

// $mobile: 320px;
$mobile: 480px;
$tablet: 768px;
$desktop: 1280px;
