<div class="endless-bg-libr">
  <header class="header-bg-lib">
    <div class="container">
      <div class="header-section-lib">
        <nav class="navigation">
          <a href="./index.html" class="navigation__logo logo"
            ><svg class="logo__icon" width="24" height="24">
              <use href="./images/sprite.svg#icon-film"></use>
            </svg>
            <span class="logo__name">Filmoteka</span>
          </a>
        <ul class="side-nav side-nav--lib">
          <li class="side-nav__item">
            <a href="./index.html" class="side-nav__link">Home</a>
          </li>
          <li class="side-nav__item">
            <a href="" class="side-nav__link side-nav__link--current-page"
              >My library</a
            >
          </li>
        </ul>
      </nav>

      <!-- Switch theme -->
        <div class="theme-switch">
          <svg
            class="theme-switch__icon icon-sun"
            role="img"
            aria-label="Sun icon"
          >
            <use href="./images/sprite.svg#icon-sun"></use>
          </svg>

          <div class="theme-switch__control">
            <input
              class="theme-switch__toggle"
              type="checkbox"
              name="theme"
              id="theme-switch-toggle"
              aria-label="Switcher between light and dark theme"
            />
            <label
              aria-hidden="true"
              class="theme-switch__track"
              for="theme-switch-toggle"
            >
            </label>
            <div aria-hidden="true" class="theme-switch__marker"></div>
          </div>

          <svg class="theme-switch__icon icon-moon" aria-label="Moon icon">
            <use href="./images/sprite.svg#icon-moon"></use>
          </svg>
        </div>

       <form>
        <div role="group">
          <ul class="storage js-choice-storage">
            <li class="storage__item">
              <label class="storage__label">
                <input
                  type="radio"
                  name="storage-btn"
                  value="Watched"
                  class="storage__input visually-hidden"
                  checked
                />
                <span class="storage__btn" id="js-WatchedButton">Watched</span>
              </label>
            </li>
            <li class="storage__item">
              <label class="storage__label">
                <input
                  type="radio"
                  name="storage-btn"
                  value="Queue"
                  class="storage__input visually-hidden"
                />
                <span class="storage__btn" id="js-QueueButton">Queue</span>
              </label>
            </li>
          </ul>
        </form>
      </div>
      <div class="js-warning header-warning"></div>
      <div class="js-search-results header-warning"></div>
    </div>
  </header>
</div>
