<div class="endless-bg-img">
  <header class="header-bg">
    <div class="container">
      <div class="header-section">
        <nav class="navigation">
          <a class="navigation__logo logo js-main-logo">
            <svg class="logo__icon" width="24" height="24">
              <use href="./images/sprite.svg#icon-film"></use>
            </svg>
            <span class="logo__name">Filmoteka</span>
          </a>

          <ul class="side-nav">
            <li class="side-nav__item">
              <a
                href=""
                class="side-nav__link side-nav__link--current-page home"
                >Home</a
              >
            </li>
            <li class="side-nav__item">
              <a href="./library.html" class="side-nav__link library"
                >My library</a
              >
            </li>
          </ul>
        </nav>

        <!-- Switch theme -->
        <div class="theme-switch">
          <svg
            class="theme-switch__icon icon-sun"
            role="img"
            aria-label="Sun icon"
          >
            <use href="./images/sprite.svg#icon-sun"></use>
          </svg>

          <div class="theme-switch__control">
            <input
              class="theme-switch__toggle"
              type="checkbox"
              name="theme"
              id="theme-switch-toggle"
              aria-label="Switcher between light and dark theme"
            />
            <label
              aria-hidden="true"
              class="theme-switch__track"
              for="theme-switch-toggle"
            >
            </label>
            <div aria-hidden="true" class="theme-switch__marker"></div>
          </div>

          <svg class="theme-switch__icon icon-moon" aria-label="Moon icon">
            <use href="./images/sprite.svg#icon-moon"></use>
          </svg>
        </div>

        <!-- Searh form -->

        <form class="search-form" id="search-form">
          <input
            type="text"
            name="query"
            autocomplete="off"
            placeholder="Movie search"
            class="search-field"
          />
          <button type="submit" class="search-btn">
            <svg class="search-icon" width="12" height="12">
              <use href="./images/sprite.svg#icon-search"></use>
            </svg>
          </button>
        </form>
      </div>
      <div class="js-warning header-warning"></div>
      <div class="js-search-results header-warning"></div>
    </div>
  </header>
</div>
