<!-- ! You can change everything here
    besides class 'home' in the parent element -->
<section class="library" id="library">
  <div class="library__container container">
    <ul class="library__list cards">
      <!-- Ця частина буде у хендлбарс -->
      <li class="cards__item card">
        <a href="#">
          <div class="card__img">
            <img src="./images/logo.png" alt="" />
          </div>
          <div class="card__info">
            <h2 class="card__title">GREYHOUND</h2>
            <ul class="card__genres">
              <li class="card__item">Comedy,</li>
              <li class="card__item">Horror</li>
            </ul>
            <span class="card__year">2022</span>
            <span class="card__rating">10</span>
          </div>
        </a>
      </li>
      <li class="cards__item card">
        <a href="#">
          <div class="card__img">
            <img src="./images/logo.png" alt="" />
          </div>
          <div class="card__info">
            <h2 class="card__title">GREYHOUND</h2>
            <ul class="card__genres">
              <li class="card__item">Comedy,</li>
              <li class="card__item">Horror</li>
            </ul>
            <span class="card__year">2022</span>
            <span class="card__rating">10</span>
          </div>
        </a>
      </li>
      <li class="cards__item card">
        <a href="#">
          <div class="card__img">
            <img src="./images/logo.png" alt="" />
          </div>
          <div class="card__info">
            <h2 class="card__title">GREYHOUND</h2>
            <ul class="card__genres">
              <li class="card__item">Comedy,</li>
              <li class="card__item">Horror</li>
            </ul>
            <span class="card__year">2022</span>
            <span class="card__rating">10</span>
          </div>
        </a>
      </li>
      <li class="cards__item card">
        <a href="#">
          <div class="card__img">
            <img src="./images/logo.png" alt="" />
          </div>
          <div class="card__info">
            <h2 class="card__title">GREYHOUND</h2>
            <ul class="card__genres">
              <li class="card__item">Comedy,</li>
              <li class="card__item">Horror</li>
            </ul>
            <span class="card__year">2022</span>
            <span class="card__rating">10</span>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
