<!-- <section class="modal-team" id="modal-team">
  <div class="container">
    Modal with information about team members
    <br />
    <br />
    <br />
    Використання кнопок:<br />
    Оранжева кнопка
    <button class="btn btn__orange">ADD TO WATCHED</button>
    Прозора кнопка на світлому фоні
    <button class="btn btn__transparent">ADD TO QUEUE</button>
    Прозора кнопка на темному фоні
    <button class="btn btn__transpDarkBg">THIRD BTN</button>
  </div>
</section> -->

<div class="backdrop-team is-hidden" data-modal-team>
  <div class="modal-team">
    <button data-modal-team-close class="modal-button-team">
      <svg class="icon" width="22" height="22">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <div class="team-container">
      <h2 class="team-heading">Our team</h2>
      <ul class="team">
        <li class="team__members">
            <img class="team__photo" src="./images/kotsiurko.jpg" alt="Фото Романа"  />
             <div class="team__item">
            <h3 class="team__names">Kotsiurko Roman</h3>
            <p class="team__positions" lang="en">Team leader</p>
            <div class="member-links">
              <a class="icon" href="https://github.com/kotsiurko" target="_blank" rel="noreferrer noopener">
                <svg  width="22" height="22">
                  <use href="./images/sprite.svg#icon-github"></use>
                </svg>
              </a>
              <a class="icon" href="https://www.linkedin.com/in/roman-kotsiurko/" target="_blank" rel="noreferrer noopener">
                <svg  width="22" height="22">
                  <use href="./images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </div>
          </li>
          <li class="team__members">
            <img class="team__photo" src="./images/Oksana_photo.jpg" alt="Фото Оксани" />
            <div class="team__item">
              <h3 class="team__names">Oksana Kuznietsova</h3>
              <p class="team__positions" lang="en">Scrum master</p>
              <div class="member-links">
                <a class="icon" href="https://github.com/KuznietsovaOksana" target="_blank" rel="noreferrer noopener">
                  <svg class="icon-github" width="22" height="22">
                    <use href="./images/sprite.svg#icon-github"></use>
                  </svg>
                </a>
                <a class="icon" href="https://www.linkedin.com/in/kuznietsova-ok/" target="_blank" rel="noreferrer noopener">
                  <svg class="icon-linkedin" width="22" height="22">
                    <use href="./images/sprite.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </div>
            </li>
            <li class="team__members">
              <img class="team__photo" src="./images/Ksenia_photo.jpg" alt="Фото Ксенії" width="" />
              <div class="team__item">
                <h3 class="team__names">Ksenia Kovalenko</h3>
                <p class="team__positions" lang="en">Developer</p>
                <div class="member-links">
                  <a class="icon" href="https://github.com/KsushkaKov" target="_blank" rel="noreferrer noopener">
                    <svg class="icon-github" width="22" height="22">
                      <use href="./images/sprite.svg#icon-github"></use>
                    </svg>
                  </a>
                  <a class="icon" href="https://www.linkedin.com/in/kseniia-kovalenko-ua/" target="_blank" rel="noreferrer noopener">
                    <svg class="icon-linkedin" width="22" height="22">
                      <use href="./images/sprite.svg#icon-linkedin"></use>
                    </svg>

                  </a>
                </div>
            </li>
            <li class="team__members">
              <img class="team__photo" src="./images/Oleksandr_photo.jpg" alt="Фото Олександра" width="" />
              <div class="team__item">
                <h3 class="team__names">Oleksandr Syniuchenko </h3>
                <p class="team__positions" lang="en">Developer</p>
                <div class="member-links">
                  <a class="icon" href="https://github.com/OleksandrS06" target="_blank" rel="noreferrer noopener">
                    <svg class="icon-github" width="22" height="22">
                      <use href="./images/sprite.svg#icon-github"></use>
                    </svg>
                  </a>
                  <a class="icon" href="https://www.linkedin.com/in/oleksandr-syniuchenko-586502234/" target="_blank" rel="noreferrer noopener">
                    <svg class="icon-linkedin" width="22" height="22">
                      <use href="./images/sprite.svg#icon-linkedin"></use>
                    </svg>
                  </a>
                </div>
            </li>
</div>
  </div>
</div>

