<!-- <section class="modal-team" id="modal-team">
  <div class="container">
    Modal with information about team members
    <br />
    <br />
    <br />
    Використання кнопок:<br />
    Оранжева кнопка
    <button class="btn btn__orange">ADD TO WATCHED</button>
    Прозора кнопка на світлому фоні
    <button class="btn btn__transparent">ADD TO QUEUE</button>
    Прозора кнопка на темному фоні
    <button class="btn btn__transpDarkBg">THIRD BTN</button>
  </div>
</section> -->

<div class="backdrop-team is-hidden" data-modal>
  <div class="modal-team">
    <button data-modal-close class="modal-button">
      <svg class="icon" width="22" height="22">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <div class="team-members">
      
      <div class="team-members__item">
      <p>Коцюрко Роман</p> 
      <p class="member-role">Роль в команді:
        <span class="position">тімлід</span>
      </p></div>
      <div class="team-members__item">Кузнецова Оксана
        <p class="member-role">Роль в команді:
          <span class="position">скрам-майстриня</span>
        </p>
        </div>
      <div class="team-members__item">Ковальчук Ксенія
        <p class="member-role">Роль в команді:
          <span class="position">розробниця</span>
        </p>
        </div>
        <div class="team-members__item">
          <p>Синюченко Олександр</p>
          <p class="member-role">Роль в команді:
            <span class="position">розробник</span>
          </p>
        </div>
      </div>
      
      </div>
      <img src="#" class="modal-image" alt="template" />
     
    </div>
      
    </div>


  </div>
</div>