<!-- <section class="modal-team" id="modal-team">
  <div class="container">
    Modal with information about team members
    <br />
    <br />
    <br />
    Використання кнопок:<br />
    Оранжева кнопка
    <button class="btn btn__orange">ADD TO WATCHED</button>
    Прозора кнопка на світлому фоні
    <button class="btn btn__transparent">ADD TO QUEUE</button>
    Прозора кнопка на темному фоні
    <button class="btn btn__transpDarkBg">THIRD BTN</button>
  </div>
</section> -->

<div class="backdrop-team is-hidden" data-modal-team>
  <div class="modal-team">
    <button data-modal-team-close class="modal-button">
      <svg class="icon" width="22" height="22">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <div class="team-members">
      
      <h2 class="">Наша команда</h2>
      
      <ul class="team">
        <li class="team__members">
          
            <img class="team__photo" src="#" alt="Фото Романа"  />
             <div class="team__item">
            <h3 class="team__names">Коцюрко Роман</h3>
            <p class="team__positions" lang="en">Team leader</p>
            <div class="member-links">
              <a href="https://github.com/kotsiurko" target="_blank" rel="noreferrer noopener">
                <svg class="icon-github" width="22" height="22">
                  <use href="./images/sprite.svg#icon-github"></use>
                </svg>
              </a>
              <a href="https://www.linkedin.com/in/roman-kotsiurko/" target="_blank" rel="noreferrer noopener">
                <svg class="icon-linkedin" width="22" height="22">
                  <use href="./images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </div>
          </li>
          <li class="team__members">
          
            <img class="team__photo" src="#" alt="Фото Оксани" />
            <div class="team__item">
              <h3 class="team__names">Кузнецова Оксана</h3>
              <p class="team__positions" lang="en">Scrum master</p>
              <div class="member-links">
                <a href="https://github.com/kotsiurko" target="_blank" rel="noreferrer noopener">
                  <svg class="icon-github" width="22" height="22">
                    <use href="./images/sprite.svg#icon-github"></use>
                  </svg>
                </a>
                <a href="https://www.linkedin.com/in/roman-kotsiurko/" target="_blank" rel="noreferrer noopener">
                  <svg class="icon-linkedin" width="22" height="22">
                    <use href="./images/sprite.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </div>
            </li>
            <li class="team__members">
            
              <img class="team__photo" src="#" alt="Фото Романа" width="" />
              <div class="team__item">
                <h3 class="team__names">Ковальчук Ксенія</h3>
                <p class="team__positions" lang="en">Developer</p>
                <div class="member-links">
                  <a href="https://github.com/kotsiurko" target="_blank" rel="noreferrer noopener">
                    <svg class="icon-github" width="22" height="22">
                      <use href="./images/sprite.svg#icon-github"></use>
                    </svg>
                  </a>
                  <a href="https://www.linkedin.com/in/roman-kotsiurko/" target="_blank" rel="noreferrer noopener">
                    <svg class="icon-linkedin" width="22" height="22">
                      <use href="./images/sprite.svg#icon-linkedin"></use>
                    </svg>
                  </a>
                </div>
            </li>
            <li class="team__members">
            
              <img class="team__photo" src="#" alt="Фото Романа" width="" />
              <div class="team__item">
                <h3 class="team__names">Синюченко Олександр</h3>
                <p class="team__positions" lang="en">Developer</p>
                <div class="member-links">
                  <a href="https://github.com/kotsiurko" target="_blank" rel="noreferrer noopener">
                    <svg class="icon-github" width="22" height="22">
                      <use href="./images/sprite.svg#icon-github"></use>
                    </svg>
                  </a>
                  <a href="https://www.linkedin.com/in/roman-kotsiurko/" target="_blank" rel="noreferrer noopener">
                    <svg class="icon-linkedin" width="22" height="22">
                      <use href="./images/sprite.svg#icon-linkedin"></use>
                    </svg>
                  </a>
                </div>
            </li>
</div>
  </div>
</div>

