<button data-modal-open>test</button>

<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button data-modal-close class="modal-button">
      <svg class="icon" width="14" height="14">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <div class="tablet-container">
      <!-- <div class="image-"> -->
        <img src="./images/Mona_Lisa.jpg" class="modal-image" alt="template" />
      <!-- </div> -->
      
      <div class="description-container">
        <h2 class="film-heading">A FISTFUL OF LEAD</h2>
      
        <ul class="film-info__list">
          <li class="film-info__item">
            <p class="film-info__item--el">Vote / Votes</p>
            <span class="film-info__vote">7.3</span>
            <span> &nbsp;/&nbsp;</span>
            <span class="film-info__params"> 1260</span>
          </li>
          <li class="film-info__item">
            <p class="film-info__item--el">Popularity</p>
            <span class="film-info__params">100.2</span>
          </li>
          <li class="film-info__item">
            <p class="film-info__item--el">Original Title</p>
            <span class="film-info__params">A FISTFUL OF LEAD</span>
          </li>
          <li class="film-info__item">
            <p class="film-info__item--el">Genre</p>
            <span class="film-info__params">Western</span>
          </li>
        </ul>
        <h3 class="film-info__about">About</h3>
        <p class="film-info__description">Four of the West’s most infamous outlaws assemble to steal a huge stash of gold
          from the most corrupt settlement of the
          gold rush towns. But not all goes to plan one is killed and the other three escapes with bags of gold hide out in
          the
          abandoned gold mine where they happen across another gang of three – who themselves were planning to hit the very
          same
          bank! As tensions rise, things go from bad to worse as they realise the bags of gold are filled with lead...
          they’ve
          been double crossed – but by who and how?</p>
        <div class="btn-container">
          <button>add to Watched</button>
          <button>add to queue</button>
        </div>
      </div>
    </div>
    
      
  </div>
</div>

