<div class="pagination__container">
  <nav class="pagination__nav">
    <ul class="pagination__list">
      <!-- <li class="pagination__item slider-arrow prev">k</li>
      <li class="pagination__item dots">...</li>
      <li class="pagination__item">1</li>
      <li class="pagination__item pagination__item--current">1</li>
      <li class="pagination__item">1</li>
      <li class="pagination__item dots">...</li>
      <li class="pagination__item slider-arrow next">k</li> -->
    </ul>
  </nav>
</div>
