.backdrop-team {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms var(--timing-function);
}

.backdrop-team.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop-team.is-hidden .modal-team {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal-team {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 280px;
  // height: 940px;
  background-color: #cebcbc;
  // background-image: repeating-linear-gradient(
  //   to bottom right,
  //   rgb(14, 14, 15),
  //   rgb(80, 37, 36) 80px,
  //   rgb(43, 68, 27) 5px,
  //   rgb(49, 34, 34) 100px /* Визначає розмір градієнта */
  // );
  // background: linear-gradient(to bottom right, #131212 15%, #ce6814 65%);
  // background: linear-gradient(to bottom right, #131212 15%, #ce6814 65%);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms var(--timing-function);
  padding-top: 30px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 40px;
  overflow-y: auto;

  @include _tablet {
    width: 704px;
    height: 552px;
    // padding-top: 40px;
    padding-left: 60px;
    padding-right: 60px;
  }

  @include _desktop {
    width: 806px;
    height: 558px;
    padding-left: 80px;
    // padding-bottom: 40px;
    padding-right: 80px;
  }
}
.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: #cebcbc;
  border: none;
  cursor: pointer;
}

.team {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: baseline;

  @include _tablet {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.team-heading {
  text-align: center;
  margin-bottom: 20px;
  font-size: 26px;
  color: rgb(34, 25, 41);
}
.team__members {
  width: 100%;
  border: 1px solid #000;
  border-radius: 15px;
  background-color: rgb(231, 156, 71);
  @include _tablet {
    width: calc((100% - 40px) / 2);
  }
  @include _desktop {
    width: calc((100% - 40px) / 2);
  }
}
.team__photo {
  width: 100%;
  border-radius: 15px;
  text-shadow: 3px 5px 6px #6c9;

  @include _tablet {
    margin-bottom: 12px;
  }
}
.team__names {
  margin-bottom: 10px;
  font-size: 20px;
}
.team__positions {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}
.member-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.icon:hover {
  fill: rgb(14, 80, 202);
}
